build/
dist/
ml4teens.egg-info/
ml4teens/__pycache__/
ml4teens/blocks/__pycache__/
ml4teens/blocks/ds/__pycache__/
ml4teens/blocks/img/__pycache__/
ml4teens/core/__pycache__/
ml4teens/tools/.ipynb_checkpoints/
ml4teens/tools/__pycache__/
notebooks/

*.old
